@page
@model Project.Pages.Books.DeleteModel

@{
    ViewData["Title"] = "Borrar";
}

<h1>@ViewData["Title"]</h1>

<h3>¿Seguro que quieres borrar este libro?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.RelaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.RelaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Type)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Book.ID" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-page="./Index">Volver a la lista</a>
    </form>
</div>
